
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统错误</title>
    <environment>
        <link href="~/css/error.css" rel="stylesheet" />
    </environment>
</head>
<body class="error_bg">
</body>
</html>
