@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请求页面不存在</title>
    <environment>
        <link href="~/css/error.css" rel="stylesheet" />
    </environment>
</head>
<body class="notfound_bg">
    <a href="@Url.Action("Index","Home")">首页</a>
</body>
</html>
