<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 信息管理系统</title>

    <environment>
        <link href="~/css/table/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/css/table/fixedColumns.bootstrap.css" rel="stylesheet" />

        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/customerbootstrap.css" rel="stylesheet" />

        <link href="~/css/common.css" rel="stylesheet" />
        <link href="~/css/margin.css" rel="stylesheet" />
        <link href="~/css/padding.css" rel="stylesheet" />
        <link href="~/css/position.css" rel="stylesheet" />
        <link href="~/css/wh.css" rel="stylesheet" />
        <link href="~/css/border.css" rel="stylesheet" />
        <link href="~/css/login.css" rel="stylesheet" />

        <link href="~/css/main.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body>

    @RenderBody()

    <environment>
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/jquery-ui.js"></script>

        <script src="~/lib/table/jquery.dataTables.js"></script>
        <script src="~/lib/table/dataTables.bootstrap.js"></script>
        <script src="~/lib/table/dataTables.fixedColumns.js"></script>
        <script src="~/js/moment.js"></script>

        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/jquery.unobtrusive-ajax.js"></script>

        <script src="~/lib/dialog/artDialog.js"></script>
        <script src="~/lib/dialog/iframeTools.js"></script>

        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/tool.js"></script>
        <script src="~/js/ui.js"></script>

    </environment>
    <environment exclude="Development">

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
